.market-table {
  &__spread {
    color: $header-color;
    text-align: center;

    @media screen and (max-width: $mobile-breakpoint) {
      &--desktop {
        display: none;
      }
    }

    @media screen and (min-width: #{$mobile-breakpoint + 1}) {
      &--mobile {
        display: none;
      }
    }
  }

  &__content {
    display: flex;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column-reverse;

      .market-table__side {
        &--buy {
          .market-table__side__head {
            display: none;
          }
        }

        &--sell {
          .market-table__side__body {
            flex-direction: column-reverse;
          }
        }
      }
    }

    @media screen and (min-width: #{$mobile-breakpoint + 1}) {
      .market-table__side--buy {
        .market-table__side__head,
        .order-level__infos {
          flex-direction: row-reverse;
        }

        .order-level--depth {
          margin-left: auto;
        }
      }
    }
  }

  &__side {
    width: 100%;

    &__head,
    &__body {
      display: flex;
      width: 100%;

      span {
        flex: 1;
        padding-right: #{$base-padding * 4};
        text-align: end;
        font-weight: 700;
      }
    }

    &__head {
      color: $header-color;
      text-transform: uppercase;
      border-top: 2px solid $border-color;
      border-bottom: 2px solid $border-color;
    }

    &__body {
      color: $text-color;
      flex-direction: column;

      .order-level {
        height: 30px;
        width: 100%;
        position: relative;

        &--depth {
          height: 100%;
        }

        &__infos {
          padding: #{$base-padding / 2} 0;
          display: flex;
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }

    &--buy {
      .order-level {
        &--depth {
          background-color: $buy-background-color;
        }

        &__infos--price {
          color: $buy-text-color;
        }
      }
    }

    &--sell {
      .order-level {
        &--depth {
          background-color: $sell-background-color;
        }

        &__infos--price {
          color: $sell-text-color;
        }
      }
    }
  }
}
