.home {
  padding: #{$base-padding * 3} 0;
  &__header {
    color: $header-color;

    .title {
      margin-top: 0;
    }
  }

  &__header,
  &__actions {
    text-align: center;
  }

  .market-table {
    max-width: 800px;
    margin: auto;
    padding-bottom: $base-padding * 2;
  }
}
