$base-padding: 8px;

$main-color: #111827;
$border-color: #1e2531;
$header-color: #3e4350;
$text-color: #7d8089;
$buy-background-color: #123534;
$buy-text-color: #107959;
$sell-background-color: #3d1e28;
$sell-text-color: #a32f32;
$button-background-color: #5741d9;
$button-text-color: #c3bbf1;
